<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ORACLEIP" value="106.247.231.186"/>
    <add key="ORACLEPORT" value="21521"/>
    <add key="ORACLEID" value="dsinfo"/>
    <add key="ORACLEPW" value="dsinfo"/>
    <add key="ORACLESID" value="orcl"/>
    <add key="MSSQLIP" value="121.78.112.116"/>
    <add key="MSSQLPORT" value="1433"/>
    <add key="MSSQLID" value="phaqmsuser"/>
    <add key="MSSQLPW" value="phaqmspass$$"/>
    <add key="MSSQLDBNAME" value="PHAQMS"/>
    <add key="USERNAME" value="Tester"/>
    <add key="CREATESP_BDIV" value="USP"/>
    <add key="CREATESP_MDIV" value="TESTT"/>
    <add key="SAVEPATH" value="C:\DSINFO\CodeMaker\"/>
    <add key="SAM_ROW_CNT" value="10"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
</configuration>
